# Visual Studio
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
artifacts/

# Rider / JetBrains
.idea/

# Copilot / Intellisense
.vsidx
*.db-shm
*.db-wal
*.db

# Others
*.cache
*.bak
*.log
*.tlog
